NANGO_SECRET_KEY=
GROQ_API_KEY=
NANGO_GITHUB_CONNECTION_ID=
NANGO_GMAIL_CONNECTION_ID=
NANGO_GMAIL_PROVIDER_CONFIG_KEY=google-mail
NANGO_GITHUB_PROVIDER_CONFIG_KEY=github
DEBUG=false
GITHUB_NOTIFICATIONS_LOOKBACK_DAYS=30
